* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 90vh;
    width: 95vw;
    /* align-items: center; */
    margin-top: 2%;
    justify-content: center;
}

canvas {
    width: 100%;
    max-height: 800px;
    border: 1px solid black;
}

.btn {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    
}

button {
    cursor: pointer;
}